body {
  font-family: sans-serif;
  background-color: black;
  color: white;
}
img {
  border-radius: 50%;
  height: 120px;
  width: 150px;
  overflow: none;
}
article {
  background-image: linear-gradient(to right, #ff8a00, #da1b60);
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1%;
  align-items: center;
}
.circular-images {
  justify-content: space-around;
  margin: 45px;
  text-align: center;
  width: calc(100% * (1/4) - 10px - 1px);
}
.wrap {
  flex-wrap: wrap;
}
.main-header {
  text-align: center;
  padding: 11%;
  font-size: 51px;
}
.nav-section {
  display: flex;
}
.main-sections > li {
  flex: 1;
}
.header-nav {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, #ff8a00, #da1b60);
  padding: 0;
  border-radius: 0%;
}
ul {
  list-style-type: none;
  padding: 0;
  align-items: center;
}
li {
  padding: 11px;
  margin-left: 33px;
  margin-right: 33px;
}
